:global(body) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #93bfcf;
  margin: 0;
  overflow: hidden;
}

:global(code) {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
